[submodule "content/LinguaggiCompilatori"]
	path = content/LinguaggiCompilatori
	url = https://github.com/mc-cat-tty/LinguaggiCompilatori
[submodule "content/SistemiArtificiali"]
	path = content/SistemiArtificiali
	url = https://github.com/mc-cat-tty/SistemiArtificiali
[submodule "content/ProgrammingPerks"]
	path = content/ProgrammingPerks
	url = https://github.com/mc-cat-tty/ProgrammingPerks
[submodule "content/ComplementiProgrammazione"]
	path = content/ComplementiProgrammazione
	url = https://github.com/mc-cat-tty/ComplementiProgrammazione
[submodule "content/GestioneInformazione"]
	path = content/GestioneInformazione
	url = https://github.com/mc-cat-tty/GestioneInformazione
[submodule "content/sistemi-operativi"]
	path = content/sistemi-operativi
	url = https://github.com/mc-cat-tty/sistemi-operativi
[submodule "content/programmazione-ad-oggetti"]
	path = content/programmazione-ad-oggetti
	url = https://github.com/mc-cat-tty/programmazione-ad-oggetti
[submodule "content/appunti_programmazione_1"]
	path = content/appunti_programmazione_1
	url = https://github.com/mc-cat-tty/appunti_programmazione_1
[submodule "content/appunti_programmazione_2"]
	path = content/appunti_programmazione_2
	url = https://github.com/mc-cat-tty/appunti_programmazione_2
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "content/PAR"]
	path = content/PAR
	url = https://github.com/mc-cat-tty/PAR
